<!-- Customer Entry Form -->
<div class="tab-pane fade active in" id="custentry" ng-controller="CustController as vm">
    <form name ="custentry" class="form-horizontal" enctype="multipart/form-data">
        <fieldset>
            <table>
                <tr>
                    <th class="control-label">Name:</th>
                    <td>
                        <input id="name" name="name" type="text" ng-model="vm.newCust.name" class="form-control" placeholder="enter name" class="input-medium" required>
                    </td>
                </tr>
                <tr>
                    <th class="control-label">Parent:</th>
                    <td>
                        <!--<input type="text" ng-model="vm.newCust.parent" list="custlist" placeholder="parent Name" class="form-control" value="parent">-->
                        <!--<datalist id='custlist'  class="form-control" name="parent" disabled="true">-->
                        <!--<option ng-repeat="cust in vm.parents" value="{{cust.name}}"> {{cust.name}}</option>-->
                        <!--</datalist>-->
                        <select name="category-group" id="parent"
                                ng-model="vm.newCust.parent"
                                ng-options="custlist as custlist.name for custlist in vm.parents"></select>
                    </td>
                </tr>
                <tr>
                    <th class="control-label">Profile:</th>
                    <td>
                        <input
                                id="profile" type="file" ngf-select ng-model="vm.newCust.profile"
                                name="profile" ngf-pattern="'image/*'" accept="image/*">
                    </td>
                </tr>
                <tr>
                    <th class="control-label"></th>
                    <td>
                        <button id="sign_up" name="signup" type="submit" ng-click="vm.update(i_id)" class="btn btn-success" ui-sref="custrecords">update</button>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
    <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-click="update()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
